nav{
    background-color: #011936 !important;
    color: white !important;
    position: fixed;
    width: 100%;
    top:0;
    display: block;
    z-index: 1000;
}

nav a{
    color: white !important;
}

.container{
    padding-top: 3.125rem;
}

#attractions{
    padding-top: 3.125rem;
}

.search{
    background-color: #e2eef8;
    width: 100%;
    height: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#filter{
    padding-top: 3.125rem;
}

#buttonFilter{
    background-color: #C63F3F;
}

#icon{
       margin-left: 1.25rem;
}

#inputSearch{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#buttonSearch{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.card-body{
    background-color: #e2eef8;
    margin-bottom: 3.125rem;
}

.card-title, .card-text{
    color: black;
}

.rounded-circle{
    width: 6.25rem;
    height: 6.25rem;
    margin-top: 0.625rem;
}